In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
dataset = pd.read_csv('Social_Network_Ads.csv')

In [3]:
dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
User ID            400 non-null int64
Gender             400 non-null object
Age                400 non-null int64
EstimatedSalary    400 non-null int64
Purchased          400 non-null int64
dtypes: int64(4), object(1)
memory usage: 15.7+ KB

In [5]:
x = dataset.iloc[:, [2,3]].values
y = dataset.iloc[:, 4].values

In [6]:
x_train, x_test, y_train , y_test = train_test_split(x,y, test_size = 0.20)

In [7]:
type(x_test)

numpy.ndarray

In [8]:
x_test.shape

(80, 2)

In [ ]:
import pandas as pd
import numpy as np
images = np.array(images)
label = np.array(label)
dataset = pd.DataFrame({'label': label, 'images': list(images)}, columns=['label', 'images'])

In [20]:
data = list(zip(x_test, y_test))
type(data)

list

In [23]:
dataset12 = pd.DataFrame(data)
type(dataset12)

pandas.core.frame.DataFrame

In [24]:
dataset12.to_csv('testing123.csv')

In [25]:
# x_test = np.array(y)
# y_test = np.array(y_test)
# dataset = pd.DataFrame({'x_test':x_test, 'y_test': y_test}, columns = ['x_test', 'y_test'])

In [37]:
df = pd.read_csv('testing123.csv', delimiter = ',')

In [38]:
df.head()

   Unnamed: 0              0  1
0           0  [   49 86000]  1
1           1  [   40 75000]  0
2           2  [   37 71000]  0
3           3  [   25 80000]  0
4           4  [   28 84000]  0

In [39]:
type(x_test)

numpy.ndarray

In [10]:
df1 = pd.DataFrame(x_test)
df2 = pd.DataFrame(y_test)

In [11]:
type(df1)

pandas.core.frame.DataFrame

In [12]:
# df1.to_csv('test11.csv')
# df2.to_csv('test11.csv')

In [25]:
df3 = pd.concat([df1, df2], axis=1,ignore_index=True)

In [26]:
df3.head()

    0       1  2
0  51  146000  1
1  37   74000  0
2  35   27000  0
3  23   20000  0
4  37   62000  0

In [27]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 3 columns):
0    80 non-null int64
1    80 non-null int64
2    80 non-null int64
dtypes: int64(3)
memory usage: 2.0 KB

In [28]:
df3.to_csv('test11.csv')

In [29]:
data12 = pd.read_csv('test11.csv')

In [30]:
data12.head()

   Unnamed: 0   0       1  2
0           0  51  146000  1
1           1  37   74000  0
2           2  35   27000  0
3           3  23   20000  0
4           4  37   62000  0

In [21]:
data12.shape

(80, 4)

In [23]:
x_test12 = data12.iloc[:, [1,3]].values
y_test12 = data12.iloc[:, 3].values

In [25]:
x_test12.shape, y_test12.shape

((80, 2), (80,))